<application
    ... >
<activity android:name=".MainActivity">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<activity android:name=".ApplyLoanActivity" />
<activity android:name=".LoanHistoryActivity" />
<activity android:name=".SettingsActivity" />
    </application>